.summary {
    max-width: 30rem;
    width: 90%;
    font-size: 1.8rem;
    margin: 20% 75% 50% 20%;
    margin-top: -18rem;
    position: relative;
    color: white;
    opacity: 50%;
  }
  
  .summary h1 {
    display: inline;
    font-weight: normal;
  }

  .name-gg-style{
    color:#e99327;
    display:inline;
    font-weight: normal;
  }