.summary {
    max-width: 15rem;
    width: 90%;
    margin: 40% 75% 30% 20%;
    margin-top: -10rem;
    position: relative;
    color: white;
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }