.summary {
    max-width: 28rem;
    width: 90%;
    font-size: 1.8rem;
    margin-left: 15%;
    margin-top: -18rem;
    margin-bottom: 10%;
    margin-right: 5%;
    position: relative;
    color: white;
    opacity: 50%;
  }
  
  .summary h1 {
    display: inline;
    font-weight: normal;
  }

  .name-gg-style{
    color:#e99327;
    display:inline;
    font-weight: normal;
  }