

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.name{
  margin-left: 3%;
  font-size: 1.25rem;
  
}

.app-name{
display:inline;
font-weight: normal;
}

.name-gg-style{
  color:#FFEF00;
  display:inline;
  font-weight: normal;
}

.main-image {
    width: 100%;
    height: 30rem;
    z-index: -1;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem);
  }