.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #242527;
  color: white;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 5%;
  
}

.button:hover,
.button:active {
  background-color: #46474a;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.badge {
  background-color: #e99327;
  padding: .15em .5em ;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: .75rem;
}

.button:hover .badge,
.button:active .badge {
  background-color: #eda952;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}